body {
  padding: 0;
  margin: 0;

}

#container{
  font-family: 'Oswald', sans-serif;
  position: relative;
  width: 1210px;
  height: 700px;
  border: 1px solid blue;
  margin: auto;
  margin-top: 50px;
}

#game {
  position: relative;
  display: inline-block;
  width: 1000px;
  height: 700px;
  overflow: hidden;
}

#gamenav{
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 700px;
}

h1{
  font-size: 30px;
  margin-left: 5px;
  width:160px;
  margin: auto;
}

h2{
  font-size: 15px;
  margin-left: 5px;
  font-weight: 300;

}

#keys{
  position: absolute;
  left: 175px;
  top: 158px;
  width: 25px;
}


#sky{
position: absolute;
background-image: url("assets/underwater.jpg");
top: 0%;
height: 100%;
width: 100%;
}

#water{
position: absolute;
background-image: url("assets/underwater.jpg");
top: 30%;
height: 100%;
width: 100%;
}

#Boat{
  position: absolute;
  left: 90px;
  top: 10px;
  width: 500px;
}

#diver{
  position: absolute;
  left: 100px;
  top:550px;
  width: 200px;
}

#gun{
  position: absolute;
  left: 250px;
  top:522px;
  width: 200px;
}


.fish{
  width: 8%;
  position: absolute;
}

#fish1 {
left: 600%;
top: 400%;
}

#fish2{
  left: 500px;
  top: 500px;
}

#fish3{
  left: 300px;
  top: 300px;
}

#fish4{
  left: 550px;
  top: 600px;
}

#fish5{
  left: 200px;
  top: 370px;
}

#fish6{
  left: 500px;
  top: 500px;
}

#fish7{
  left: 600px;
  top: 290px;
}

#fish8{
  left: 400px;
  top: 340px;
  width: 6%;
}

#fish9{
  left: 550px;
  top: 530px;
  width: 6%;
}

.blackfish{
  width: 80px;
  position: absolute;
}

#blackfish1{
  left: 150px;
  top: 400px;
  width: 70px;
}

#blackfish2{
  left: 500px;
  top: 400px;
}

.bluefish{
  width: 100px;
  position: absolute;
}

#bluefish1{
  left: 800px;
  top: 400px;
}

#bluefish2{
  left: 750px;
  top: 300px;
}
